    <!-- header area start -->
    <header class="header-style-one">
        <div class="header-top">
            <div class="header-top-inner">
                <div class="left-icon"><img src="assets/images/icon/green-left.svg" alt=""></div>
                <p class="text">WE ARE AVAILABLE FOR <span>DECEMBER PROJECTS</span></p>
                <div class="right-icon"><img src="assets/images/icon/green-right.svg" alt=""></div>
            </div>
        </div>
        <div class="container">
            <div class="header-style-one-wrapper">
                <div class="left-area square-dot">
                    <div class="logo-area">
                        <a href="index.html" class="logo">
                            <img src="assets/images/logo/01.svg" alt="logo">
                        </a>
                    </div>
                    <span class="square-shape top-left"></span>
                    <span class="square-shape bottom-left"></span>
                    <span class="square-shape top-right"></span>
                    <span class="square-shape bottom-right"></span>
                </div>
                @@include('header/nav.html')
                <div class="button-area-start square-dot">
                    <a href="#" class="wpr-btn btn-primary">
                        Start a Project
                    </a>
                    <span class="square-shape top-left"></span>
                    <span class="square-shape bottom-left"></span>
                    <span class="square-shape top-right"></span>
                    <span class="square-shape bottom-right"></span>
                    <!-- <div class="menu-btn" id="menu-btn d-none d-lg-none">
                        <svg width="27" height="16" viewBox="0 0 27 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="12.375" height="2" transform="matrix(1 0 0 -1 9.625 16)" fill="white"/>
                            <rect width="22" height="2" fill="white"/>
                            <rect width="16.5" height="2" transform="matrix(1 0 0 -1 5.5 9)" fill="white"/>
                        </svg>
                    </div> -->
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->