<nav class="main-nav-area">
    <ul class="list-unstyled wpr-desktop-menu">
        <li class="menu-item">
            <a class="main-element wpr-dropdown-main-element" href="index.html">Home</a>
        </li>
        <li class="menu-item"><a class="main-element" href="about.html">ABOUT US</a></li>
        <li class="menu-item has-dropdown">
            <a class="main-element wpr-dropdown-main-element" href="service.html">SERVICES</a>
            <ul class="sub-menu">
                <li class="sub-menu-item">
                    <a href="service.html" class="item-link link1">SERVICE</a>
                </li>
                <li class="sub-menu-item">
                    <a href="service-details.html" class="item-link link1">SERVICES SINGLE</a>
                </li>
            </ul>
        </li>
        <li class="menu-item has-dropdown">
            <a class="main-element wpr-dropdown-main-element" href="work.html">WORKS</a>
            <ul class="sub-menu">
                <li class="sub-menu-item">
                    <a href="work.html" class="item-link link1">WORKS</a>
                </li>
                <li class="sub-menu-item">
                    <a href="work-details.html" class="item-link link1">WORK SINGLE</a>
                </li>
            </ul>
        </li>
        <li class="menu-item has-dropdown">
            <a class="main-element wpr-dropdown-main-element" href="work.html">BLOG</a>
            <ul class="sub-menu">
                <li class="sub-menu-item">
                    <a href="blog-standard.html" class="item-link link1">BLOG STANDARD</a>
                </li>
                <li class="sub-menu-item">
                    <a href="blog-two-columns.html" class="item-link link1">BLOG GRID 2</a>
                </li>
                <li class="sub-menu-item">
                    <a href="blog-three-columns.html" class="item-link link1">BLOG GRID 3</a>
                </li>
                <li class="sub-menu-item">
                    <a href="blog-single.html" class="item-link link1">BLOG SINGLE</a>
                </li>
            </ul>
        </li>
        <li class="menu-item"><a class="main-element wpr-dropdown-main-element" href="contact.html">CONTACT</a></li>
    </ul>
</nav>