<nav class="main-nav-area">
    <ul class="list-unstyled wpr-desktop-menu">
        <li class="menu-item"><a class="main-element wpr-dropdown-main-element" href="#">ABOUT US</a></li>
        <li class="menu-item"><a class="main-element wpr-dropdown-main-element" href="#">SERVICES</a></li>
        <li class="menu-item"><a class="main-element wpr-dropdown-main-element" href="#">PROJECTS</a></li>
        <li class="menu-item"><a class="main-element wpr-dropdown-main-element" href="#">PRICING PLAN</a></li>
    </ul>
</nav>