<nav class="main-nav-area">
    <ul class="list-unstyled wpr-desktop-menu">
        <li class="menu-item"><a class="main-element wpr-dropdown-main-element" href="about.html">ABOUT US</a></li>
        <li class="menu-item"><a class="main-element wpr-dropdown-main-element" href="service.html">SERVICES</a></li>
        <li class="menu-item"><a class="main-element wpr-dropdown-main-element" href="work.html">PROJECTS</a></li>
        <li class="menu-item"><a class="main-element wpr-dropdown-main-element" href="contact.html">Contact</a></li>
    </ul>
</nav>