.header-style-one{
    .header-top{
        background: var(--color-heading-1);
        padding: 8px 0;
        .header-top-inner{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 64px;
            .text{
                margin-bottom: 0;
                line-height: 1;
                color: var(--color-white);
                font-size: 14px;
                font-family: var(--font-primary);
                font-weight: 500;
                span{
                    color: var(--color-primary);
                    margin-left: 6px;
                }
            }
        }
    }
    .header-style-one-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 16px 0 0;
        background: var(--color-white);
        border: 1px solid rgba( #030712, $alpha: .1);
        .left-area{
            padding: 21px 67px 20px;
            border-right: 1px solid rgba( #030712, $alpha: .1);
        }
        .button-area-start{
            padding: 12px 50px;
            border-left: 1px solid rgba( #030712, $alpha: .1);
            display: flex;
            gap: 20px;
        }
    }
}