
// nav style

.main-nav-area{
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 40px;
        li{
            margin: 0;
            a{
                color: var(--color-heading-1);
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                line-height: 1;
                font-family: var(--font-primary);
                transition: var(--transition);
                position: relative;
                z-index: 1;
                transition: var(--transition);
                &:hover{
                    &::after{
                        width: 100%;
                    }
                }
                &::after{
                    content: '';
                    position: absolute;
                    z-index: 1;
                    background: var(--color-heading-1);
                    height: 1px;
                    width: 0;
                    bottom: 1px;
                    left: 0;
                    transition: var(--transition);
                }
            }
        }
        
    }
}




.header-style-one.case-studies{
    .main-nav-area{
        ul{
            li{
                &>a.wpr-dropdown-main-element{
                    color: #fff !important;
                }
            }
        }
    }
}


.header-style-one.case-studies.header--sticky.sticky{
    background: linear-gradient(258deg, #373551 8.48%, #212026 94.83%);
}