
// nav style

.main-nav-area{
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 40px;
        li{
            margin: 0;
            a{
                color: var(--color-heading-1);
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                line-height: 1;
                font-family: var(--font-primary);
                transition: var(--transition);
                position: relative;
                z-index: 1;
                transition: var(--transition);
                &:hover{
                    &::after{
                        width: 100%;
                    }
                }
                &::after{
                    content: '';
                    position: absolute;
                    z-index: 1;
                    background: var(--color-heading-1);
                    height: 1px;
                    width: 0;
                    bottom: 1px;
                    left: 0;
                    transition: var(--transition);
                }
            }
        }
        
    }
}


.side-bar {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: -100%;
    width: 465px;
    padding: 40px 30px;
    padding-top: 50px;
    height: 100%;
    display: block;
    background-color: white;
    backdrop-filter: blur(7px);
    z-index: 1900;
    transition: all 600ms ease;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow: visible;
    @media #{$large-mobile} {
        width: 315px;
    }
    .inner-main-wrapper-desk{
        .thumbnail{
            display: flex;
            justify-content: center;
            img{
                width: 60%;
                margin: auto;
            }
        }
        .inner-content{
            text-align: center;
            margin-top: 30px;
            p{
            max-width: 95%;
            text-align: center;
            margin: auto;
            }
            .title{
                font-weight: 600;
            }
            .footer{
                padding-top: 50px;
                margin-top: 40px;
                border-top: 1px solid #e8e8e8;
                .title{
                    font-weight: 500;
                }
                a.wpr-btn{
                    margin: auto;
                }
            }
            .contact-information--sidebar{
                margin-top: 50px;
                .title{
                    margin-bottom: 20px;
                    font-size: 24px;
                }
                .single-info{
                    margin: 15px 0;
                    a{
                        // color: #2f3022;
                        // font-weight: 500;
                        &:hover{
                            color: var(--color-primary);
                        }
                    }
                }
                .wpr-social-style-one{
                    margin-top: 40px;
                    ul{
                        padding: 0;
                        margin: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 15px;
                        list-style: none;
                        li{
                            margin: 0;
                            a{
                                height: 45px;
                                width: 45px;
                                border-radius: 50%;
                                border: 1px solid #dfdfdf;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                &:hover{
                                    background: var(--color-primary);
                                    border: 1px solid transparent;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}
.side-bar.show {
    right: 0;
    overflow-y: auto;
}
.side-bar button {
    max-width: max-content;
    margin-right: auto;
    margin-left: -53px;
    margin-top: 0;
    position: absolute;
    i{
        color: #ffffff;
        height: 50px;
        width: 50px;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 14px;
        margin-top: -53px;
        font-size: 27px; 
        background: var(--color-primary);   
    }
}



.header-style-one.case-studies{
    .main-nav-area{
        ul{
            li{
                &>a.wpr-dropdown-main-element{
                    color: #fff !important;
                }
            }
        }
    }
}


.header-style-one.case-studies.header--sticky.sticky{
    background: linear-gradient(258deg, #373551 8.48%, #212026 94.83%);
}