// banner  image area start
.wpr-banner-area {
  position: relative;
  z-index: 0;
  margin: 0 0 16px;
  border-width: 1px 0;
  border-style: solid;
  border-color: rgba(#030712, $alpha: .1);

  .banner-content-area {
    height: 800px;
    padding: 172px 0 115px;
    position: relative;
    z-index: 1;
    border-width: 0 1px;
    border-style: solid;
    border-color: rgba(#030712, $alpha: .1);
    overflow: hidden;

    .top-shape {
      position: absolute;
      width: 100px;
      height: 30%;
      background: var(--color-bg-1);
      border-width: 0 1px;
      border-style: dotted;
      border-color: rgba(#434343, $alpha: .5);
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }

    .section-title {
      display: flex;
      align-items: center;
      font-size: 120px;
      font-weight: 500;

      .left-area {
        max-width: 100%;
        width: 100%;
        text-align: center;
        background: var(--color-bg-1);
        padding: 35px 0;
        border-width: 1px 0;
        border-style: dotted;
        border-color: rgba(#434343, $alpha: .5);

        .arrow-track {
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 38px;
          padding: 0;
          position: absolute;
          width: 94%;
          left: 50%;
          transform: translateX(-50%);
          bottom: -35px;
          overflow: hidden;

          .arrow {
            height: 16px;
            opacity: 0.15;
            display: flex;
            animation: fadeMove 1.2s infinite;
            min-width: 13px;

            img {
              position: unset;
            }
          }

          .arrow:nth-child(10) {
            animation-delay: 0.9s;
          }

          .arrow:nth-child(9) {
            animation-delay: 0.8s;
          }

          .arrow:nth-child(8) {
            animation-delay: 0.7s;
          }

          .arrow:nth-child(7) {
            animation-delay: 0.6s;
          }

          .arrow:nth-child(6) {
            animation-delay: 0.5s;
          }

          .arrow:nth-child(5) {
            animation-delay: 0.4s;
          }

          .arrow:nth-child(4) {
            animation-delay: 0.3s;
          }

          .arrow:nth-child(3) {
            animation-delay: 0.2s;
          }

          .arrow:nth-child(2) {
            animation-delay: 0.1s;
          }

          .arrow:nth-child(1) {
            animation-delay: 0s;
          }
        }
      }

      .right-area {
        max-width: 100%;
        width: 100%;
        text-align: center;
        background: var(--color-bg-1);
        padding: 35px 0;
        border-width: 1px 0;
        border-style: dotted;
        border-color: rgba(#434343, $alpha: .5);
        position: relative;
        z-index: 1;

        .arrow-track {
          display: flex;
          align-items: center;
          gap: 38px;
          padding: 0;
          position: absolute;
          width: 94%;
          right: 50%;
          transform: translateX(50%);
          top: -35px;
          overflow: hidden;

          .arrow {
            height: 16px;
            opacity: 0.15;
            display: flex;
            animation: fadeMove 1.2s infinite;
            min-width: 13px;

            img {
              position: unset;
            }
          }

          .arrow:nth-child(1) {
            animation-delay: 0.9s;
          }

          .arrow:nth-child(2) {
            animation-delay: 0.8s;
          }

          .arrow:nth-child(3) {
            animation-delay: 0.7s;
          }

          .arrow:nth-child(4) {
            animation-delay: 0.6s;
          }

          .arrow:nth-child(5) {
            animation-delay: 0.5s;
          }

          .arrow:nth-child(6) {
            animation-delay: 0.4s;
          }

          .arrow:nth-child(7) {
            animation-delay: 0.3s;
          }

          .arrow:nth-child(8) {
            animation-delay: 0.2s;
          }

          .arrow:nth-child(9) {
            animation-delay: 0.1s;
          }

          .arrow:nth-child(10) {
            animation-delay: 0s;
          }
        }
      }

      .mid-icon {
        min-width: max-content;
      }

      .text {
        text-align: center;
        letter-spacing: -0.06em;
        text-transform: uppercase;

        background: linear-gradient(137.66deg, #55595C 21.13%, #000000 80.53%), #030712;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }

    .bg-shape {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: -2;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .banner-shape-area {
      img {
        position: absolute;
        z-index: 1;

        &.one {
          top: 0;
          left: 0;
        }

        &.two {
          bottom: 0;
          right: 0;
        }
      }
    }

    .text-area {
      text-align: center;
      max-width: 529px;
      margin: auto;
      margin-top: 52px;

      .desc {
        margin-bottom: 25px;
        color: var(--color-heading-1);
      }

      .button-area {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        .wpr-btn {
          font-size: 18px;
        }

        .btn-white {
          padding: 26px 24px 28px;
          color: var(--color-heading-1);
        }
      }
    }
  }

  &.breadcrumb {
    .banner-content-area {
      height: auto;
      padding: 100px 0 60px;

      .section-title {
        text-align: center;
        letter-spacing: -0.06em;
        text-transform: uppercase;

        background: linear-gradient(137.66deg, #55595C 21.13%, #000000 80.53%), #030712;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        justify-content: center;
        margin-bottom: 0;
      }
    }
  }
}

.bg {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

@keyframes moveright {
  from {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }

  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@keyframes moveLeft {
  from {
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  }

  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

.move-right {
  animation: moveright 1.4s linear;
}

.move-left {
  animation: moveLeft 4.4s linear;
}

@keyframes fadeMove {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.3;
    transform: scale(1);
  }

  100% {
    opacity: 0.15;
    transform: scale(1);
  }
}