// common style here

.container{
    max-width: 1290px;
    margin-left: auto;
    margin-right: auto;
    @media #{$laptop-device} {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media #{$smlg-device} {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.container-2{
    max-width: 1064px;
    margin-left: auto;
    margin-right: auto;
    @media #{$smlg-device} {
        padding: 0 15px;
    }
}

.section-bg{
    background: var(--section-bg-gray);
}
.bg_white{
    background: var(--body-bg);
}


.g-48{
    --bs-gutter-x: 48px;
    --bs-gutter-y: 48px;
}
.g-lg-0{
    @media(max-width:1200px) and (min-width:992px){
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }
}

.bg-gray{
    background: #F8F9FB;
}
.bg-gray-2{
    background: var(--bg-gray-2); 
}
.overflow-right-div{
    width: 125%;
    @media #{$md-layout} {
        width: 100%;
    }
    @media #{$sm-layout} {
        width: 100%;
    }
}

.gsap-marker-end,
.gsap-marker-start,
.gsap-marker-scroller-end,
.gsap-marker-scroller-start{
    display: none !important;
}

.bg-dark{
    background: var(--color-bg-dark) !important;
}
.bg-dark2{
    background: var(--color-bg-dark-2) !important;
}
.bg-dark-color{
    background: var(--footer-bg-2);
}
.bg-primary{
  background: var(--color-primary) !important;
}


.border-radious-top-section{
    border-radius: 32px 32px 0px 0px;
}

.radius-0{
    border-radius: 0 !important;
}
.color-secondary-2{
    color: var(--color-secondary-2);
    -webkit-text-fill-color: var(--color-secondary-2) !important;
}
.order-change{
    @media(max-width:991px){
        order: 2;
    }
}

.loader-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    .loader-section {
        position:fixed;
        top:0;
        background:var(--color-white);
        width:50%;
        height:100%;
        z-index:1000;
    } 
  }
  
  .loader-wrapper .loader-section.section-left {
    left:0
  }
  .loader-wrapper .loader-section.section-right {
    right:0;
  }
  
  /* Loaded Styles */ 
  .loaded .loader-wrapper .loader-section.section-left {
    // transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
    opacity: 0;
  }
  .loaded .loader-wrapper .loader-section.section-right {
    // transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
    opacity: 0;
  }
  .loaded .loader {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  .loaded .loader-wrapper {
    visibility: hidden;
    transform:translateY(-100%);
    transition: all .3s 1s ease-out;
  }
  .loader:after {
    content: "";
    position: absolute;
    top: 14px;
    left: 14px;
    right: 14px;
    bottom: 14px;
    border: 4px solid transparent;
    border-top-color: var(--color-primary);
    border-right-color: var(--color-primary);
    border-bottom-color: var(--color-primary);
    border-radius: 100%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
.loader {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    z-index: 1001;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

.container, .custom-container, .container-fluid,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto
}
.custom-container{
    width: 100%;
    padding-right: var(--bs-gutter-x,1.6rem);
    padding-left: var(--bs-gutter-x,1.6rem);
    margin-right: auto;
    margin-left: auto
}

@media(min-width: 576px) {
    .container,.container-sm {
        max-width:100%
    }
}

@media(min-width: 768px) {
    .container,.container-md,.container-sm {
        max-width:100%
    }
}

@media(min-width: 992px) {
    .container,.container-lg,.container-md,.container-sm {
        max-width:960px
    }
}

@media(min-width: 1200px) {
    .container,.container-lg,.container-md,.container-sm,.container-xl {
        max-width:1170px
    }
}

@media(min-width: 1440px) {
    .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl {
        max-width:1408px;
        padding: 0;
    }
}
@media(min-width: 1400px) {
    .custom-container {
        max-width:1575px
    }
}

.section-title-area{
    .sub-title{
        color: var(--color-heading-1);
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 1;
        font-weight: 400;
        line-height: 1;
        position: relative;
        padding: 4px 5px 3px 24px;
        z-index: 1;
        background: #F3F4F6;
        max-width: max-content;
        font-family: var(--font-primary);
        &::after{
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          top: 50%;
          transform: translateY(-50%);
          left: 4px;
          background: var(--color-primary);
        }
        &.with-icon{
          display: flex;
          align-items: center;
          gap: 5px;
          
        }
    }
    .section-title{
        color: var(--color-heading-1);
        margin-bottom: 8px;
        text-transform: capitalize;
    }
    .desc{
        color: var(--color-body-1);
        font-weight: 500;
        margin-top: 10px;
    }
    &.center-style{
        text-align: center;
        .sub-title{
            margin-left: auto;
            margin-right: auto;
            max-width: max-content;
        }
    }
}

.cp{
    color: var(--color-primary) !important;
}

.cw{
    color: var(--color-white) !important;
}
.ch{
    color: var(--color-heading-1) !important;
}
.cb{
    color: #0D0D0D !important;
}

.body-bg-one{
    background: var(--color-bg-1) !important;
}

ul{
    padding: 0 !important;
    li{
        list-style: none !important;
    }
}
.mb--16{
  margin-bottom: 16px;
}
.second-font{
  font-family: var(--font-secondary);
}
.font-normal{
  font-weight: 500;
}
.font-semi-bold{
  font-weight: 600;
}
.font-bold{
  font-weight: 700;
}
.text-normal{
  text-transform: none !important;
}
.search-input-area {
  transition: all 500ms ease;
  visibility: hidden;
  transform: translateY(-100%);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 57px 0;
  background: white;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.46);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input-area.show {
    visibility: visible;
    transform: inherit;
    opacity: 1;
}
.search-input-area .search-input-inner {
    display: flex;
    align-items: center;
    position: relative;
}
.search-input-area .search-input-inner .input-div {
    width: 80%;
    display: flex;
    align-items: center;
    margin: auto;
}
.search-input-area .search-input-inner .input-div input {
    background: #F7F7F7;
    border-radius: 5px;
    height: 55px;
    border: 1px solid transparent;
    &:focus{
        border: 1px solid var(--color-primary);
    }
}
.search-input-area .search-input-inner .input-div button {
    max-width: max-content;
    padding: 18px 21px;
    background: var(--color-primary);
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: block;
    margin-left: -9px;
    border-radius: 0 5px 5px 0;
}
.search-input-area .search-close-icon {
    cursor: pointer;
    position: absolute;
    right: 38px;
    top: 22px;
}
.search-input-area .search-close-icon i {
    position: relative;
    z-index: 1;
    color: var(--color-primary);
    transition: 0.3s;
    font-size: 18px;
    &:hover{
        color: #F7F7F7;
        &::after{
            background: var(--color-primary);
        }
    }
}
.search-input-area .search-close-icon i::after {
    position: absolute;
    height: 45px;
    width: 45px;
    content: "";
    border-radius: 5px;
    background: #553cdf14;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: 0.3s;
}

.title-hover{
    background-size: 200% 2px;
    background-position: 100% 95%;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #000), color-stop(50%, transparent));
    background-image: linear-gradient(to right, #000 50%, transparent 50%);
    -webkit-transition: all 500ms;
    transition: all 500ms;
    &:hover{
        background-position: 0% 95%;
        color: #000;
    }
}
.title-w-hover{
    background-size: 200% 2px;
    background-position: 100% 95%;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #FFFFFF), color-stop(50%, transparent));
    background-image: linear-gradient(to right, #FFFFFF 50%, transparent 50%);
    -webkit-transition: all 500ms;
    transition: all 500ms;
    &:hover{
        background-position: 0% 95%;
        color: #FFFFFF;
    }
}
.title-p-hover{
    background-size: 200% 2px;
    background-position: 101% 95%;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--color-primary)), color-stop(50%, transparent));
    background-image: linear-gradient(to right, var(--color-primary) 50%, transparent 50%);
    -webkit-transition: all 500ms;
    transition: all 500ms;
    &:hover{
        background-position: 0% 95%;
        color: var(--color-primary);
    }
}
.image-transform{
    overflow: hidden;
    .hover-image{
        transform: scale(107%);
        transition: var(--transition);
    }
    &:hover{
        .hover-image{
            transform: scale(100%);
        }
    }
}

.home-bg{
    background: var(--color-bg-1);
}

.square-dot{
  position: relative;
  z-index: 2;
  .square-shape{
    position: absolute;
    z-index: 2;
    width: 6px;
    height: 6px;
    background: var(--color-heading-1);
    &.top-left{
      top: -3px;
      left: -3px;
    }
    &.bottom-left{
      bottom: -3px;
      left: -3px;
    }
    &.top-right{
      top: -3px;
      right: -3px;
    }
    &.bottom-right{
      bottom: -3px;
      right: -3px;
    }
  }
}
@keyframes zoomEffect {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    75% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
}

.wow {
  visibility: hidden;
}
@-webkit-keyframes scaleIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

@-webkit-keyframes scaleInFade {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes scaleInFade {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.scaleInFade {
  -webkit-animation-name: scaleInFade;
  animation-name: scaleInFade;
}

@-webkit-keyframes scaleOutFade {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1, 1);
    transform: scale(1, 1, 1);
  }
}

@keyframes scaleOutFade {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1, 1);
    transform: scale(1, 1, 1);
  }
}

.scaleOut {
  -webkit-animation-name: scaleOutFade;
  animation-name: scaleOutFade;
}

@-webkit-keyframes widthInFade {
  from {
    opacity: 0;
    width: 1px;
  }

  100% {
    opacity: 1;
    width: 100px;
  }
}

@keyframes widthInFade {
  from {
    opacity: 0;
    width: 1px;
  }

  100% {
    opacity: 1;
    width: 100px;
  }
}

/* Flip In X */
@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

.widthInFade {
  -webkit-animation-name: widthInFade;
  animation-name: widthInFade;
}

.radius-4{
    border-radius: 4px !important;
}
.radius-6{
    border-radius: 6px !important;
}
.radius-10{
    border-radius: 10px !important;
}
.position-bottom-center{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.m-w-100{
    max-width: 100% !important;
}
.border-1{
  border: 1px solid var(--color-border);
}
.border-top,
.border-bottom,
.border-left,
.border-right{
    border-color: var(--color-border);
    border-style: solid;
}
.border-top{
    border-width: 1px 0 0;
}
.border-bottom{
    border-width: 0 0 1px;
}
.border-left{
    border-width: 0 0 0 1px;
}
.border-right{
    border-width: 0 1px 0 0;
}

.w-max{
  max-width: max-content;
}
.anim-scale{
  overflow: hidden;
  transition: var(--transition);
  .scale-image{
    transform: scale(1);
    transition: all 0.4s ease-in-out;
  }
  &:hover{
    .scale-image{
      transform: scale(1.1);
    }
  }
}
.anime-overlay{
  position: relative;
  z-index: 1;
  transition: var(--transition);
  &::after{
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(#FFFFFF, $alpha: .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
    transition: all .6s;
  }
  &:hover{
    &::after{
      height: 250%;
      background-color: transparent;
      transition: all 500ms linear;
    }
  }
}
.after-none{
  &::after{
    display: none !important;
  }
}
.gap-26px{
  gap: 26px;
}
.gap-30px{
  gap: 30px;
}
.c-w{
  color: var(--color-white) !important;
}
.c-p{
  color: var(--color-primary);
}
.c-b{
  color: var(--color-body-1) !important;
}
.c-h{
  color: var(--color-heading-1) !important;
}
.lp-6{
  letter-spacing: -0.06em !important;
}
.h-300{
  height: 300px;
}
.h-370{
  height: 370px;
}

.m-w-400{
  max-width: 400px;
}
.m-w-420{
  max-width: 420px;
}
.m-w-450{
  max-width: 450px;
}
.w-100{
  width: 100% !important;
}
.m-w-100{
  max-width: 100% !important;
}
.bg-dark{
  .section-title-area .desc{
    color: var(--color-body-dark);
  }
}
.font-normal{
  font-weight: 400 !important;
}

.skew-up > div{
  overflow: hidden;
}

.split-parent {
    overflow: hidden;
}

.gsap-marker-end{
    display: none !important;
}

.social-area,
.social-wrapper{
  a{
    position: relative;
    z-index: 1;
    &:hover{
      &::after{
        opacity: 1;
        transform: translateX(-50%) translateY(30px);
      }
    }
    &::after {
      content: attr(data-tooltip);
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) translateY(10px);
      background: #000;
      color: #fff;
      font-size: 11px;
      padding: 6px 8px;
      line-height: 1;
      border-radius: 4px;
      white-space: nowrap;
      opacity: 0;
      pointer-events: none;
      transition: all 0.25s ease;
    }
  }
}

.overflow-x-visible{
  overflow-x: visible;
}

.white-low{
  color: rgba(#FFFFFF, $alpha: .1) !important;
}

section{
  border-width: 1px 0;
  border-style: solid;
  border-color: transparent;
  @media(max-width:1440px){
    border-color: rgba(#030712, $alpha: .1);
  }
  .section-inner{
    &.border-1{
      border-width: 1px 1px !important;
      border-style: solid;
      border-color: rgba(#030712, $alpha: .1);
      @media(max-width:1440px){
        border-width: 0 1px !important;
      }
    }
  }
}

.preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  --preloader-clip: 0;
  clip-path: inset(0 0 0 var(--preloader-clip));
  background-color: var(--color-black);
}
.preloader span {
  font-size: 80px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  overflow-x: hidden;
}
.preloader .preloader-gutters {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
}
.preloader .preloader-gutters .bar {
  width: 12.5%;
  height: 100%;
  background: transparent;
  position: relative;
}
.preloader .preloader-gutters .bar .inner-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--color-white);
}
.preloader .preloader-overlay {
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  transform: translateX(-100%);
  opacity: 0.2;
}
.preloader .site-name {
  background-color: var(--color-secondary);
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.preloader .site-name span {
  font-size: 80px;
}

@media only screen and (max-width: 767px) {
  .preloader .site-name span {
    font-size: 40px;
  }
}