.wpr-contact-area{
    .section-inner{
        background: #030712;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left-content-area{
            max-width: 714px;
            width: 100%;
            margin: 0 56px;
            display: flex;
            flex-direction: column;
            gap: 80px;
            .get-in-touch{
                display: flex;
                gap: 46px;
                .sub-title{
                    color: #F9FAFB;
                    font-size: 14px;
                    line-height: 1;
                    font-weight: 400;
                    line-height: 1;
                    padding: 4px 5px 3px 24px;
                    background: rgba( #F3F4F6, $alpha: .15);
                    max-width: max-content;
                    font-family: var(--font-primary);
                    position: relative;
                    z-index: 1;
                    height: max-content;
                    &::after{
                        content: '';
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 4px;
                        background: var(--color-primary);
                    }
                }
                ul{
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    li{
                        padding: 0;
                        margin: 0;
                        a{
                            font-size: 40px;
                            line-height: 1;
                            font-weight: 600;
                            color: #F9FAFB;
                            font-family: var(--font-secondary);
                        }
                    }
                }
            }
            .location-area{
                display: flex;
                gap: 46px;
                .sub-title{
                    color: #F9FAFB;
                    font-size: 14px;
                    line-height: 1;
                    font-weight: 400;
                    line-height: 1;
                    padding: 4px 5px 3px 24px;
                    background: rgba( #F3F4F6, $alpha: .15);
                    max-width: max-content;
                    font-family: var(--font-primary);
                    position: relative;
                    z-index: 1;
                    height: max-content;
                    &::after{
                        content: '';
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 4px;
                        background: var(--color-primary);
                    }
                }
                ul{
                    padding: 0;
                    margin: 0;
                    display: flex;
                    gap: 80px;
                    li{
                        padding: 0;
                        margin: 0;
                        h4{
                            color: #F9FAFB;
                            margin-bottom: 15px;
                            text-transform: none;
                            font-family: var(--font-secondary);
                        }
                        p{
                            color: rgba( #F9FAFB, $alpha: .6);
                        }
                    }
                }
            }
        }
        .contact-form-area{
            max-width: 500px;
            width: 100%;
            padding: 60px 40px;
            border-left: 1px solid rgba( #FFFFFF, $alpha: .15);
            form{
                .single-input{
                    margin-bottom: 32px;
                    label{
                        color: #F9FAFB;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                    input{
                        height: 40px;
                        color: var(--color-white);
                        padding: 0;
                        border-radius: 0;
                        border: none;
                        border-bottom: 1px solid rgba( #FFFFFF, $alpha: .3);
                        font-weight: 600;
                        font-family: var(--font-secondary);
                        &::placeholder{
                            color: rgba( #F9FAFB, $alpha: .6) !important;
                            font-family: var(--font-secondary);
                            font-size: 14px;
                            font-weight: 600;
                        }
                        &:focus{
                            border: none;
                            border-bottom: 1px solid var(--color-primary);
                        }
                    }
                    textarea{
                        height: 145px;
                        color: var(--color-white);
                        padding: 0;
                        border-radius: 0;
                        border: none;
                        border-bottom: 1px solid rgba( #FFFFFF, $alpha: .3);
                        font-weight: 600;
                        font-family: var(--font-secondary);
                        &::placeholder{
                            color: rgba( #F9FAFB, $alpha: .6) !important;
                            font-family: var(--font-secondary);
                            font-size: 14px;
                            font-weight: 600;
                        } 
                        &:focus{
                            border: none;
                            border-bottom: 1px solid var(--color-primary);
                        }
                    }
                    &.last{
                        position: relative;
                        label{
                            cursor: pointer;
                            i{
                                color: var(--color-primary);
                                margin-right: 10px;
                            }
                        }
                        input{
                            height: unset;
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 0;
                        }
                    }
                }
                .form-btn-area{
                    margin-top: 50px;
                    button{
                        width: 100%;
                        max-width: 100%;
                        text-align: center;
                        justify-content: center;
                        background: radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(137.66deg, #40454A 21.13%, #292C2E 80.53%);
                        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1), 60px 50px 80px rgba(0, 0, 0, 0.15), 20px 41.7776px 33.4221px rgba(0, 0, 0, 0.1503), 10px 22.3363px 17.869px rgba(0, 0, 0, 0.1417), 4px 12.5216px 10.0172px rgba(0, 0, 0, 0.135), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.1283), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.1197), inset 0px 1px 0px rgba(255, 255, 255, 0.6), inset 0px -3px 0px #1A1A1A, inset 0px -4px 0px 1px rgba(255, 255, 255, 0.1);
                        border-radius: 12px;
                        color: var(--color-white);
                    }
                }
            }
        }
    }
}