.wpr-project-area {
    .section-inner {
        position: relative;
        z-index: 1;
        .space{
            display: block;
            height: 200px;
        }
        .floating-content {
            position: sticky;
            z-index: -1;
            left: 50%;
            transform: translateX(-49%);
            max-width: 855px;
            width: 50%;
            top: 31%;
            margin-bottom: 20px;
            .section-title-area{
                .section-title{
                    margin-bottom: 40px;
                    span{
                        img{
                            margin-left: 4px;
                            margin-top: 4px;
                        }
                    }
                }
                .desc{
                    max-width: 463px;
                    margin: auto;
                }
            }
        }
    }
}
.wpr-project-area{
    .rts-video-pin {
        position: relative;
        display: block;
        height: 100vh !important;
    }
    
    .rts-video-wrapper {
        width: 100%;
        overflow: hidden;
        height: 100%;
        .slider-btn{
            position: absolute;
            z-index: 1;
            right: 0;
            bottom: 0;
        }
    }
    
    .gsap-slider {
        display: flex;
        height: 100%;
        position: relative;
        z-index: 1;
        &.scale-done{
            .slide{
                .slide-content{
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
    }
    
    .slide {
        width: 100%;
        flex-shrink: 0;
        position: relative;
        z-index: 1;
        .slide-content{
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            opacity: 0;
            pointer-events: none;
            transition: var(--transition);
            .shape{
                position: absolute;
                z-index: 1;
                &.top-left-shape{
                    top: 0;
                    left: 0;
                }
                &.top-right-shape{
                    top: 0;
                    right: 0;
                }
            }
        }
    }
    
    .image-area,
    .video-img {
        width: 100%;
        height: 100%;
        img{
            object-fit: cover;
        }
    }
    
    
    .pin-spacer{
        margin: 0 !important;
        // margin-top: 90px !important;
    }

}