
@media(max-width:1600px){
    
}
@media(max-width:1440px){
    .wpr-banner-area .banner-content-area .section-title .mid-icon{
        min-width: 250px;
    }
    .wpr-banner-area .banner-content-area .section-title{
        font-size: 100px;
    }
    .wpr-about-area .section-inner .about-bottom-content .right-area .image-area{
        height: 100%;
        img{
            &:nth-child(1){
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
@media(max-width:1440px) and (min-width:1200px){
    .wpr-services-area .section-bottom-content .service-wrapper .content .mid h2{
        font-size: 180px;
    }
    .why-choose-wrapper2{
        padding: 56px 28px;
    }
}
@media(max-width:1200px){
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .order-lg-change{
        order: -1;
    }
    .header-style-one .header-style-one-wrapper .left-area{
        padding: 21px 45px 20px;
    }
    .header-style-one .header-style-one-wrapper .button-area-start{
        padding: 12px 45px;
    }
    .main-nav-area ul{
        gap: 35px;
    }
    .wpr-banner-area .banner-content-area .section-title{
        font-size: 80px;
    }
    .wpr-banner-area .banner-content-area .section-title .mid-icon{
        min-width: 200px;
    }
    .wpr-banner-area .banner-content-area .section-title .right-area,
    .wpr-banner-area .banner-content-area .section-title .left-area{
        padding: 25px 0;
    }
    .wpr-banner-area .banner-content-area .banner-shape-area img.one,
    .wpr-banner-area .banner-content-area .banner-shape-area img.two{
        width: 225px;
    }
    .wpr-services-area .section-bottom-content{
        flex-wrap: wrap;
    }
    .wpr-services-area .section-bottom-content .service-wrapper{
        flex-basis: 50%;
        &:nth-child(3),
        &:nth-child(4){
            border-top: 1px solid var(--color-border);
        }
    }
    .wpr-contact-area .section-inner .left-content-area .location-area ul{
        flex-direction: column;
        gap: 30px;
    }
    .wpr-footer-area .footer-logo-area a img{
      max-width: 500px;  
    }
}
@media(max-width:1200px) and (min-width:991px){
    .why-choose-wrapper2{
        padding: 40px 20px;
    }
    .why-choose-wrapper2 .title{
        font-size: 18px;
    }
    .why-choose-wrapper2 .desc{
        font-size: 14px;
    }
}
@media(max-width:991px){
   .main-nav-area{
    display: none;
   }
   .wpr-banner-area .banner-content-area .section-title{
    font-size: 60px;
   }
   .wpr-banner-area .banner-content-area .section-title .right-area .arrow-track,
   .wpr-banner-area .banner-content-area .section-title .left-area .arrow-track{
    width: 80%;
   }
   .header-style-one .header-style-one-wrapper .left-area.square-dot .square-shape.top-right,
   .header-style-one .header-style-one-wrapper .left-area.square-dot .square-shape.bottom-right,
   .header-style-one .header-style-one-wrapper .button-area-start.square-dot .square-shape.top-left,
   .header-style-one .header-style-one-wrapper .button-area-start.square-dot .square-shape.bottom-left{
     display: none;
   }
   .header-style-one .header-style-one-wrapper .button-area-start,
   .header-style-one .header-style-one-wrapper .left-area{
    border-width: 0 0 0 0;
   }
   .wpr-contact-area .section-inner .left-content-area .get-in-touch ul li a{
    font-size: 30px;
   }
   .wpr-contact-area .section-inner .left-content-area{
    margin: 0 30px;
   }
   .wpr-footer-area .footer-logo-area .shape{
    max-width: 200px;
   }
   .wpr-footer-area .copyright-area{
        padding: 24px;
   }
   .wpr-why-choose-us-area2 .section-inner .bottom-content-area{
    flex-wrap: wrap;
   }
   .why-choose-wrapper2{
    width: 50%;
    &:nth-child(1),
    &:nth-child(2){
        border-bottom: 1px solid var(--color-border);
    }
    &:nth-child(2){
        border-right: none;
    }
   }
}
@media(max-width:991px) and (min-width:768px){

}
@media(max-width:768px){
    .wpr-banner-area .banner-content-area .section-title .mid-icon{
        min-width: 135px;
    }
    .wpr-banner-area .banner-content-area .section-title .right-area, .wpr-banner-area .banner-content-area .section-title .left-area{
        padding: 17px 0;
    }
    .wpr-banner-area .banner-content-area .section-title{
        font-size: 48px;
    }
    .header-style-one .header-top .header-top-inner{
        gap: 25px;
    }
    .wpr-about-area .section-inner .about-bottom-content{
        flex-direction: column;
    }
    .wpr-about-area .section-inner .about-bottom-content .left-area{
        max-width: 100%;
    }
    .wpr-services-area .section-bottom-content .service-wrapper .content .mid h2{
        font-size: 150px;
    }
    .wpr-services-area .section-bottom-content .service-wrapper .content .bottom .service-btn-area{
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .wpr-contact-area .section-inner{
        flex-direction: column;
    }
    .wpr-contact-area .section-inner .left-content-area{
        max-width: 100%;
        margin: 0;
        padding: 30px;
    }
    .wpr-contact-area .section-inner .contact-form-area{
        max-width: 100%;
        border: none;
        padding: 0 30px 30px;
    }
    .wpr-footer-area .footer-logo-area a img{
        max-width: 400px;
    }
    .wpr-footer-area .footer-logo-area{
        padding: 140px 0 100px;
    }
    .wpr-footer-area .copyright-area{
        flex-wrap: wrap;
        gap: 30px;
    }
    .wpr-footer-area .copyright-area .left-social-area{
        width: 100%;
        ul{
            justify-content: center;
        }
    }
    .why-choose-wrapper2{
        padding: 40px 20px;
    }
}
@media(max-width:768px) and (min-width:576px){
    
}
@media(max-width:576px){
    .header-style-one .header-top{
        display: none;
    }
    .wpr-banner-area .banner-content-area .section-title{
        flex-direction: column;
    }
    .wpr-banner-area .banner-content-area .section-title .left-area .arrow-track,
    .wpr-banner-area .banner-content-area .section-title .right-area .arrow-track{
        display: none;
    }
    .wpr-banner-area .banner-content-area .banner-shape-area img.one, .wpr-banner-area .banner-content-area .banner-shape-area img.two{
        max-width: 200px;
    }
    .wpr-banner-area .banner-content-area .section-title .mid-icon{
        max-width: 150px;
        padding: 20px 0;
    }
    .wpr-banner-area .banner-content-area{
        height: auto;
    }
    .wpr-banner-area .banner-content-area .text-area .button-area{
        flex-direction: column;
    }
    .wpr-banner-area .banner-content-area .top-shape{
        display: none;
    }
    .wpr-banner-area .banner-content-area .section-title .right-area, .wpr-banner-area .banner-content-area .section-title .left-area{
        .square-shape{
            display: none;
        }
    }
    .wpr-about-area .section-inner .section-top-area{
        padding: 70px 40px;
    }
    .wpr-about-area .section-inner .about-bottom-content .left-area ul li{
        padding: 26px 30px;
    }
    .wpr-services-area .section-bottom-content .service-wrapper{
        flex-basis: 100%;
    }
    .wpr-services-area .section-bottom-content .service-wrapper .image-area img{
        width: 100%;
        height: 580px;
        object-fit: cover;
    }
    .wpr-contact-area .section-inner .left-content-area .get-in-touch,
    .wpr-contact-area .section-inner .left-content-area .location-area{
        flex-direction: column;
        gap: 20px;
    }
    .wpr-footer-area .footer-logo-area .shape{
        max-width: 150px;
    }
    .wpr-footer-area .footer-logo-area a img{
        max-width: 280px;
    }
    .why-choose-wrapper2{
        width: 100%;
        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(4){
            border-right: none;
            border-bottom: 1px solid var(--color-border);
        }
    }
}
@media(max-width:576px) and (min-width:450px){

}
@media(max-width:450px){
    .wpr-banner-area .banner-content-area .text-area .desc{
        br{
            display: none;
        }
    }
    .wpr-brand-area .section-inner .right-marquee-area .brand-wrapper{
        height: 150px;
        line-height: 150px;
        width: 180px;
    }
    .wpr-brand-area .section-inner .left-text{
        min-width: 150px;
    }
    .wpr-banner-area .banner-content-area .banner-shape-area img.one, .wpr-banner-area .banner-content-area .banner-shape-area img.two{
        max-width: 100px;
        min-width: 100px;
    }
    .wpr-banner-area .banner-content-area{
        padding: 100px 0;
    }
    .wpr-footer-area .footer-logo-area .shape{
        max-width: 120px;
    }
    .wpr-footer-area .copyright-area{
        justify-content: center;
    }
}
