.wpr-team-area{
    .section-inner{
        .content-area{
            padding: 100px 0;
            position: relative;
            z-index: 1;
            .section-bg-shape{
                position: absolute;
                width: 100%;
                left: 0;
                top: 60px;
                z-index: -1;
            }
        }
    }
    .section-bottom-inner{
        margin-top: 50px;
        padding: 0 56px;
    }
}

.team-wrapper{
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 25px;
    .shape{
        position: absolute;
        z-index: 1;
        &.shape-top-left{
            top: 0;
            left: 0;
        }
        &.shape-bottom-left{
            bottom: 0;
            left: 0;
        }
        &.shape-top-right{
            top: 0;
            right: 0;
        }
        &.shape-bottom-right{
            bottom: 0;
            right: 0;
        }
    }
    &:hover{
        .author-area{
            .social{
                margin-top: 3px;
                ul{
                    li{
                        a{
                            height: 40px;
                            opacity: 1;
                            pointer-events: all;
                        }
                    }
                }
            }
        }
    }
    .author-area{
        position: absolute;
        z-index: 2;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 90%;
        width: 100%;
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
        box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.6), inset 0px -5px 0px #E4E4E4, inset 0px -6px 0px 1px #FAFAFA;
        border-radius: 12px;
        padding: 16px 24px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        transition: var(--transition);
        .title{
            font-family: var(--font-secondary);
            text-transform: none;
            font-weight: 600;
            line-height: 1;
            margin-bottom: 0;
        }
        .designation{
            margin-bottom: 0;
            line-height: 1;
        }
        .social{
            margin-top: -10px;
            transition: var(--transition);
            ul{
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                gap: 8px;
                transition: var(--transition);
                li{
                    padding: 0;
                    margin: 0;
                    a{
                        position: relative;
                        z-index: 1;
                        width: 40px;
                        height: 0;
                        line-height: 40px;
                        display: block;
                        text-align: center;
                        background: radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(137.66deg, #40454A 21.13%, #292C2E 80.53%);
                        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.6), inset 0px -2px 0px #1A1A1A, inset 0px -3px 0px 1px rgba(255, 255, 255, 0.1);
                        border-radius: 8px;
                        transition: var(--transition);
                        opacity: 0;
                        pointer-events: none;
                        &:hover{
                            &::after{
                                opacity: 1;
                            }
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            z-index: -1;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            opacity: 0;
                            background: radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(137.66deg, #40454A 21.13%, #292C2E 80.53%);
                            box-shadow: 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.1283), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.1197), 0px 3px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.6), inset 0px -2px 0px #1A1A1A, inset 0px -3px 0px 1px rgba(255, 255, 255, 0.1);
                            transition: var(--transition);
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
    }
    &.down{
        transform: translateY(48px);
    }
}
.team-apply-wrapper{
    background: radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(137.66deg, #40454A 21.13%, #292C2E 80.53%);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1), 60px 50px 80px rgba(0, 0, 0, 0.15), inset 0px 1px 0px rgba(255, 255, 255, 0.6), inset 0px -5px 0px #1A1A1A, inset 0px -6px 0px 1px rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 48px 32px 40px;
    transform: translateY(48px);
    height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    .top-content{
        .square-dot{
            width: 16px;
            height: 16px;
            background: var(--color-primary);
            margin-bottom: 15px;
        }
        .title{
            color: var(--color-white);
            line-height: 1.3;
        }
        p.desc{
            color: rgba(#F9FAFB, $alpha: .7);
            font-size: 14px;
        }
    }
    .wpr-btn{
        width: 100%;
        max-width: 100%;
        .icon{
            min-width: 52px;
            span{
                img{
                    min-width: 20px;
                }
            }
        }
        span{
            display: block;
            width: 100%;
            text-align: center;
        }
    }
    .shape{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;
    }
}

.wpr-awards-area{
    .section-inner{
        .section-title-area{
            max-width: max-content;
            margin: auto;
            padding: 100px 0 70px;
            .section-title{
                margin-bottom: 0;
            }
        }
        .award-accordion-area{
            margin-bottom: 100px;
        }
    }
}

.award-item {
  border-bottom: 1px solid #E5E7EB;
  padding: 40px 56px;
  cursor: pointer;
  transition: var(--transition);
  position: relative;
  z-index: 1;
  &:first-child{
    border-top: 1px solid #E5E7EB;
  }
  &.active{
    .left{
        .content{
            .desc{
                height: 70px;
                pointer-events: all;
                opacity: 1;
                margin-top: 40px;
            }
        }
    }
    .award-header{
        .toggle{
            span{
                &.plus{
                    opacity: 0;
                }
                &.minus{
                    opacity: 1;
                }
            }
        }
    }
    .image-area{
        opacity: 1;
        img{
            transform: scale(1);
        }
    }
}
.image-area{
    position: absolute;
    top: 50%;
    right: 11%;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 0;
    transition: var(--transition);
  }
}

.award-header {
  display: flex;
  justify-content: space-between;
  .left{
    display: flex;
    align-items: start;
    justify-content: space-between;
    max-width: 55%;
    width: 100%;
    .content{
        max-width: 415px;
        width: 100%;
        .title{
            text-transform: none;
            font-family: var(--font-secondary);
            font-weight: 600;
            margin-bottom: 0;
        }
        .desc{
            font-size: 14px;
            color: var(--color-body-1);
            margin-top: 0;
            transition: var(--transition);
            height: 0;
            opacity: 0;
            pointer-events: none;
            overflow: hidden;
        }
    }
  }
  .toggle{
    span{
        transition: var(--transition);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        &.plus{
            opacity: 1;
            font-weight: 300;
            font-size: 19px;
        }
        &.minus{
            opacity: 0;
            font-size: 25px;
            font-weight: 300;
        }
    }
  }
}

.date {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-body-1);
  text-transform: uppercase;
  font-family: var(--font-primary);
}

.toggle {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background: #1a1a1a;
  color: #9dff00;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 0.3s;
  position: relative;
}
