.wpr-testimonials-area{
    .section-inner{
        position: relative;
        z-index: 1;
        .testimonials-content-slider{
            position: absolute;
            z-index: 1;
            bottom: 0;
            right: 0;
            max-width: 582px;
            width: 100%;
            border-width: 1px 0px 0px 1px;
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(46px);
            .testimonials-content{
                background: rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(46px);
                opacity: 0;
                width: 100%;
                .top{
                    padding: 40px 32px;
                    height: 244px;
                    border-bottom: 1px solid rgba( #FFFFFF, $alpha: .3);
                    .title{
                        color: var(--color-white);
                        font-family: var(--font-secondary);
                        font-weight: 600;
                        text-transform: none;
                        letter-spacing: -0.01em;
                    }
                    .desc{
                        color: #F9FAFB;
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
                .author-area{
                    padding: 34px 30px;
                    h6{
                        font-size: 18px;
                        color: var(--color-white);
                        font-family: var(--font-secondary);
                        line-height: 1;
                        text-transform: none;
                        margin-bottom: 10px;
                        letter-spacing: 0;
                        font-weight: 400;
                    }
                    p{
                        color: rgba( #FFFFFF, $alpha: .7);
                        line-height: 1;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
            .swiper-slide-active{
                .testimonials-content{
                    opacity: 1;
                }
            }
        }
        .swiper-navigation{
            position: absolute;
            z-index: 2;
            bottom: 0;
            right: 0;
            max-width: max-content;
            display: flex;
            .swiper-btn{
                position: unset;
                width: 110px;
                height: 110px;
                line-height: 110px;
                text-align: center;
                display: block;
                border-left: 1px solid rgba( #FFFFFF, $alpha: .3);
            }
        }
        .top-left-shape{
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
}